@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <ol>
        <li>Clothing</li>
        <li>Grocery</li>
        <li>Fruits & Vegetables</li>
        <li>Metal Wares</li>
    </ol>
</div>
