@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NK Brand Factory</h1>
    <p>Amazing Shopping Experience & lot of satisfaction <a href="https://learn.microsoft.com/aspnet/core">Click Here </a>.</p>
</div>