@page
@model RazorApp.Pages.AboutusModel
@{
}

<h1>About us</h1>
<hr />

<img src="images/shop.jpg" width="100" height="100"/>
<h3> <u>NKStores</u></h3>
<p>Owner: Nayan Kothawade</p>
<p>Company: NK Stores Pvt. Ltd.</p>
<ol>
    <li>Shopping</li>
    <li>Clothing</li>
    <li>Grocery</li>
    <li>Dairy Produts</li>
    <li>Fruits & Vegetables</li>
    <li>Online Delivery</li>
</ol>
