@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To NK Brand Factory</h1>
    <p>Best Shopping Environment <a href="https://learn.microsoft.com/aspnet/core">Click Here</a>.</p>
</div>
