@page
@model RazorApp.Pages.ShopModel
@{
}

 <style>
        
        .post {
            margin-bottom: 40px;
        }
        .post h2 {
            margin-top: 0;
        }
        .post p {
            line-height: 1.6;
        }
    </style>
 
 
<div class="container">

    <div class="product">
        <h2>Why NK Shop is Best to visit and shopping</h2>
        <p>We provide best service and best products. With trusted and quality standards, we offer at reasonable pricng</p>
    </div>

    <div class="product">
        <h2>NK Shop & Brand Factory Promotion Program</h2>
        <p>This is one of the best initiative for improving shopping experience of customers. We provide Online and offline shopping approach</p>
    </div>

     <div class="product">
        <h2>NK Shop & Brand Factory Promotion Program</h2>
        <p>This is one of the best initiative for improving shopping experience of customers. We provide Online and offline shopping approach</p>
    </div>

    <!-- Add more posts here -->

</div>